
.main-page{
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-page *{
    color: azure;
}

.music-player{
    background-color: black;
    min-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
